@charset "UTF-8";
 body{
    background-color: rgba(95, 158, 160, 0.815);
    font-family: sans-serif;
 }

 h1{
    color: rgb(8, 77, 77);
 }

 h1#principal{
    text-align: center;
    background-color: rgb(68, 100, 89);
    color: aliceblue;
 }

 h2{
    color: rgb(68, 100, 89);
 }

    .basico{
color:aqua;
    }

    .intermediario{
color: aquamarine;
    }
    .destaque{
        background-color: chartreuse;
    }
    /* 
    em HTML é id = em CSS vira # (só pode 1 elemento)
    em HTML é class = em CSS vira . (pode vários elementos)
    */